
# Buildozer
# IDEs
# Kivy
# Poetry
# Python
# Virtual environments
*$py.class
*.cover
*.db
*.egg
*.egg-info/
*.kv~
*.log
*.py[cod]
*.so
*.sqlite3
*.swo
*.swp
*.zip
*~
.DS_Store
.Python
.buildozer/
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.git/
.idea/
.installed.cfg
.kivy/
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.pyre/
.pytest_cache/
.pytype/
.tox/
.venv
.venv/
.vscode/
ENV/
MANIFEST
__pycache__/
bin/
build/
coverage.xml
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
env.bak/
env/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
poetry.lock
sdist/
share/python-wheels/
ui/pixel_characters_pack_*.zip
var/
venv.bak/
venv/
wheels/
